/**
 * menu.scss
 */

@use "sass:map";

$desert-breeze-theme: (
  "color1": beige,
  "color2": yellow,
  "color3": bisque,
  "color4": black,
  "color5": burlywood,
  "color6": white,
  "color7": olive,
  "color8": orange,
  "color9": darkgreen
);

$theme: $desert-breeze-theme;

$svg-menu-stroke-hover: map.get($theme, "color1");
$menu-slider-hover-bg-color: map.get($theme, "color2");
$slider-background-color: map.get($theme, "color3");
$svg-menu-stroke: map.get($theme, "color4");
$slider-hover-bg-color: map.get($theme, "color5");
$menu-header-bg-color: map.get($theme, "color5");
$menu-item-bg-color: map.get($theme, "color3");
$menu-item-bottom-border-color: map.get($theme, "color5");
$menu-item-hover-bg-color: map.get($theme, "color6");
$slider-bg-color: map.get($theme, "color7");
$slider-box-shadow-inset-color: map.get($theme, "color4");
$slider-before-bg-color: map.get($theme, "color8");
$slider-before-box-shadow-color: map.get($theme, "color4");
$input-checked-slider-bg-color: map.get($theme, "color9");

@mixin svg-stroke {
  .menu-icon {
    stroke: $svg-menu-stroke-hover;
  }
}

.tutorial-menu {
  width: 10em;
  height: 0;
  user-select: none;
  position: absolute;
  bottom: 10%;
  display: flex;
}

.tutorial-menu:hover {
  cursor: pointer;
}

.sliding-menu {
  width: 2em;
}

.sliding-menu:hover {
  background-color: $menu-slider-hover-bg-color;
}

.slider-menu {
  background-color: $slider-background-color;
}

.menu-icon {
  stroke: $svg-menu-stroke;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 2em;
  height: 2em;
}

.slider-menu:hover {
  background-color: $slider-hover-bg-color;
  @include svg-stroke();
}

// flex breaks hidden html attribute, override it
[hidden] {
  display: none !important;
}

.menu-content {
  display: flex;
  width: 15em;
  position: fixed;
  bottom: 5%;
}

.menu-header {
  padding: 0.5em;
  background-color: $menu-header-bg-color;
  text-decoration: underline;
}

.menu-header:hover {
  @include svg-stroke();
}

.menu {
  width: 100%;
}

.menu-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5em;
  background-color: $menu-item-bg-color;
  border-bottom: 0.1em solid $menu-item-bottom-border-color;
}

.menu-item span {
  width: 60%;
}

.menu-item:hover {
  background-color: $menu-item-hover-bg-color;
}

.input-switch {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 40%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $slider-bg-color;
  transition: 0.4s;
  box-shadow: inset 0.2em 0.2em 0.2em $slider-box-shadow-inset-color;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 0.1em;
  bottom: 0.09em;
  background-color: $slider-before-bg-color;
  transition: 0.4s;
  box-shadow: 0 0.1em 0.2em $slider-before-box-shadow-color;
}

input:checked + .slider {
  background-color: $input-checked-slider-bg-color;
}

input:checked + .slider:before {
  transform: translateX(1em);
}

.slider.round {
  border-radius: 2em;
}

.slider.round:before {
  border-radius: 50%;
}
