/**
 * style.scss
 */

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: black;
}

#tutorial-canvas {
    border: 1px solid white;
}

#pointer-track {
    position: absolute;
    background: beige;
    display: flex;
    width: 85px;
    height: 55px;
    top: -100px;
    left: -100px;
    z-index: 2;
}

#pointer-track-content {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#pointer-track-content label {
    padding: 2px;
}