<template id="menu-template" shadowrootmode="closed">
  <div id="tutorial-menu">
    <div id="menu-slider" tabindex="0">
      <div id="slider">
        <svg id="menu" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g>
            <path d="M5 17H13M5 12H19M5 7H13" />
          </g>
        </svg>
      </div>
    </div>
    <div id="menu-content" tabindex="1" hidden>
      <div id="menu-header">
        <div id="header-icon">
          <svg id="menu" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g>
              <path d="M5 17H13M5 12H19M5 7H13" />
            </g>
          </svg>
        </div>
      </div>
      <div id="menu">
        <div id="menu-items"></div>
      </div>
    </div>
  </div>
</template>
