<template id="menu-template" shadowrootmode="closed">
  <div class="tutorial-menu">
    <div class="sliding-menu" tabindex="0">
      <div class="slider-menu">
        <svg class="menu-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g>
            <path d="M5 17H13M5 12H19M5 7H13" />
          </g>
        </svg>
      </div>
    </div>
    <div class="menu-content" tabindex="1" hidden>
      <div class="menu-header">
        <div class="header-icon">
          <svg class="menu-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g>
              <path d="M5 17H13M5 12H19M5 7H13" />
            </g>
          </svg>
        </div>
      </div>
      <div class="menu">
        <div class="menu-items"></div>
      </div>
    </div>
  </div>
</template>
